footer {
    width: 250px;
    margin: 0 auto;
}
#back-home {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    outline: none;
    background-color: #0e90d2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    display: block;
    margin: 20px auto ;
    float: right;
}
#back-home:hover {
    background-color: #096092;
}
#submit {
    float: left;
}